ul,
body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
}
input {
  box-sizing: border-box;
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/*header*/
header .topMenu {
  background-color: black;
  height: 40px;
  position: relative;
}
header .topMenu ul {
  position: absolute;
  right: 40px;
  margin-right: 100px;
  display: flex;
  justify-content: end;
}

header .topMenu ul li:last-child a {
  color: yellow;
}

header .topMenu ul li a {
  font-size: 13px;
  margin-left: 10px;
  color: rgb(207, 207, 207);
  line-height: 40px;
  font-weight: 600;
}

header .topMenu ul li a:hover {
  color: white;
}

.navWrap {
  height: 80px;
  position: relative;
}

.navWrap nav {
  width: 1200px;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
}

.navWrap nav h1 {
  margin-top: 15px;
}

.navWrap nav ul {
  display: flex;
}

.navWrap nav ul li:first-child a {
  margin-left: 0px;
}

.navWrap nav ul li a {
  font-size: 16px;
  line-height: 80px;
  margin-left: 30px;
}

.navWrap nav ul li a:hover {
  color: rgb(3, 3, 190);
}

/*main*/
main {
  position: relative;
}
main .mainImgWrap {
  position: relative;
}
main .mainImgWrap h2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .mainImgWrap img:last-child {
  position: absolute;
  bottom: 3px;
}

main .rightContainer {
  position: absolute;
  right: 40px;
  top: 100px;
}
main .rightContainer .loginContainer {
  background: rgba(247, 247, 247, 0.7);
  width: 280px;
  border-radius: 10px;
  height: 280px;
}

main .rightContainer .loginContainer .loginWrap {
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
}

main .loginWrap h2 {
  font-size: 20px;
  margin: 10px 0;
}

main .loginWrap form input {
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
  font-size: 15px;
  border-radius: 5px;
}

main .loginWrap form button {
  width: 100%;
  height: 35px;
  margin: 5px 0;
  background: #275194;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
}
main .loginWrap span {
  font-size: 13px;
  font-weight: 600;
}

main .loginWrap .userBtnWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin: 20px 0;
}

main .loginWrap .userBtnWrap button {
  color: white;
  border-radius: 5px;
  background: gray;
  font-weight: 600;
  height: 25px;
  font-size: 13px;
}
main .loginWrap .userBtnWrap button:first-child {
  background: black;
}
main .freeStart {
  position: relative;
  text-align: center;
}
main .freeStart img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 27px;
  left: 40px;
}
main .freeStart button {
  margin-top: 20px;
  width: 100%;
  background: orange;
  height: 45px;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

/*section */
section {
  text-align: center;
}

section > h2 {
  position: relative;
  font-size: 40px;
  height: 70px;
}

section > h2::before {
  position: absolute;
  width: 60px;
  height: 3px;
  content: "";
  background: #3e84f3;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section1 img {
  margin: 50px 0;
}

.section2 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.section2 > div {
  width: 50%;
  margin: 50px auto 0;
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.section2 > div > article {
  border: 1px solid #3e84f3;
  border-radius: 15px;
  height: 400px;
}

.section2 > div > article > img {
  margin: 50px 0;
}

.section2 > div > article > h2 {
  font-weight: 500;
  margin: 0 15px;
  font-size: 24px;
}

.section2 > div > article > h2 > span {
  color: #3e84f3;
}

.section2 > div > article > p {
  margin: 20px 15px;
  color: rgb(131, 131, 131);
}

.section3 > div {
  position: absolute;
}

.section3 > div:first-child .background {
  position: absolute;
  top: 0;
  left: 0;
}
